body {
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

#game-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

canvas {
  background: #000000;
  border: 5px solid #ffd700; /* Yellow border */
  border-radius: 5px; /* Optional: add border radius for a rounded look */
}
